In [ ]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [41]:
#Read the data in pandas
inp0= pd.read_csv("DS.csv ")
inp_1= pd.read_csv("AD.csv")

In [43]:
inp_1.Price.describe()
inp_1.Price

0          Low
1          Low
2         High
3      Average
4          Low
        ...
474    Average
475        Low
476    Average
477    Average
478        Low
Name: Price, Length: 479, dtype: object

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [44]:
inp_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB

In [45]:
inp1=inp_1.copy()
inp1.head()
inp1.Size[0]="Medium"

<ipython-input-45-b6bddb8c16f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inp1.Size[0]="Medium"

### Fixing the Rows and Columns

In [47]:
inp1.Size= inp1.Size.replace(['S', 'small', 's'], "Small")

inp1.Size= inp1.Size.replace('free', "Free")

inp1.Size= inp1.Size.replace('M', "Medium")

inp1.Size= inp1.Size.replace('L', "Large") 

inp1.Size= inp1.Size.replace('XL', "Extra large")

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [48]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
inp1.Size

0      Medium
1       Large
2       Large
3       Large
4      Medium
        ...
474    Medium
475    Medium
476    Medium
477     Large
478      Free
Name: Size, Length: 479, dtype: object

In [49]:
# Print the value counts of each category in "Size" column.
inp0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

### Impute/Remove Missing values

In [51]:
inp0.head(50)

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
5,1.068332e+09,4,5,11,13,13,13,16,18,19,...,25,25.0,26,26.0,26.0,26.0,27,27.0,27.0,27
6,1.220707e+09,45,61,131,165,176,209,216,251,262,...,379,400.0,417,424.0,445.0,462.0,474,494.0,503.0,552
7,1.219677e+09,4,13,55,73,76,89,94,117,121,...,160,165.0,169,172.0,196.0,212.0,224,241.0,252.0,263
8,1.113094e+09,5,6,10,12,13,15,16,17,17,...,27,28.0,29,29.0,29.0,29.0,29,29.0,29.0,33
9,9.852927e+08,9,11,12,12,12,12,12,13,13,...,14,14.0,14,14.0,14.0,14.0,14,14.0,14.0,14
10,1.117294e+09,15,28,42,49,49,55,56,65,66,...,93,98.0,106,114.0,119.0,124.0,128,130.0,133.0,138
11,8.984815e+08,23,38,54,59,65,72,77,90,102,...,153,162.0,170,172.0,176.0,181.0,185,188.0,195.0,202
12,9.577239e+08,1235,1333,1471,1568,1602,1722,1756,1906,1994,...,2395,2423.0,2537,2580.0,2645.0,2704.0,2748,2813.0,2914.0,2979
13,7.490319e+08,2498,2545,2627,2656,2669,2738,2769,2934,3001,...,3445,3561.0,3667,3680.0,3745.0,3842.0,3952,3999.0,4077.0,4170
14,1.055412e+09,22,28,40,43,44,45,45,49,50,...,52,52.0,52,52.0,52.0,52.0,52,52.0,53.0,53
15,1.162628e+09,4,8,19,25,26,31,35,45,48,...,120,132.0,158,163.0,174.0,182.0,195,204.0,213.0,220
16,6.243148e+08,1587,1669,1729,1764,1782,1817,1833,1898,1909,...,2163,2241.0,2301,2325.0,2375.0,2421.0,2479,2492.0,2512.0,2526
17,8.304677e+08,10,13,17,17,17,17,17,17,17,...,18,19.0,19,19.0,19.0,19.0,19,19.0,19.0,19
18,8.408571e+08,2,4,10,11,11,12,12,12,13,...,13,13.0,16,16.0,17.0,17.0,17,17.0,17.0,17
19,1.113221e+09,122,143,243,279,299,322,331,381,401,...,496,517.0,539,542.0,562.0,575.0,596,602.0,621.0,644
20,8.617544e+08,104,106,142,163,171,192,196,227,247,...,316,244.0,365,368.0,369.0,370.0,372,374.0,375.0,376
21,8.561781e+08,856,967,1057,1109,1124,1173,1198,1248,1284,...,1431,1482.0,1533,1564.0,1572.0,1621.0,1682,1699.0,1726.0,1761
22,1.122990e+09,145,189,219,229,229,233,233,233,233,...,233,233.0,233,233.0,233.0,234.0,235,235.0,236.0,236
23,8.405165e+08,1292,1319,1405,1479,1512,1578,1592,1671,1689,...,1962,1946.0,2077,2095.0,2115.0,2179.0,2243,2286.0,2314.0,2352
24,7.685171e+08,2,3,4,4,4,5,5,5,5,...,5,5.0,5,5.0,5.0,5.0,5,5.0,5.0,5
25,1.139843e+09,6,7,15,19,19,19,20,22,22,...,25,26.0,26,27.0,27.0,28.0,28,29.0,29.0,29
26,1.004213e+09,986,1048,1224,1358,1401,1571,1612,1762,1852,...,2358,2452.0,2580,2621.0,2678.0,2792.0,2882,2923.0,2995.0,3071
27,1.235427e+09,6,8,25,42,49,67,76,105,114,...,253,275.0,311,328.0,345.0,367.0,388,392.0,416.0,446
28,9.428084e+08,375,421,463,475,476,483,488,497,500,...,523,525.0,526,528.0,530.0,532.0,533,534.0,536.0,537
29,6.291315e+08,7455,7467,7479,7374,7351,7255,7240,7156,7124,...,6644,6528.0,6476,6327.0,6285.0,6142.0,6049,5912.0,5862.0,5753
30,8.519455e+08,1168,1271,1301,1330,1344,1383,1395,1456,1468,...,1590,1553.0,1637,NaN,NaN,NaN,1705,NaN,NaN,1798
31,1.150275e+09,84,130,176,205,218,272,273,279,280,...,417,456.0,494,NaN,NaN,NaN,561,NaN,NaN,606
32,1.026634e+09,804,837,897,931,937,969,974,1004,1008,...,1060,1086.0,1103,NaN,NaN,NaN,1177,NaN,NaN,1258
33,9.787739e+08,911,946,1035,1085,1105,1159,1185,1244,1288,...,1455,1488.0,1525,NaN,NaN,NaN,1642,NaN,NaN,1709
34,8.277913e+08,2184,2228,2309,2313,2313,2315,2315,2321,2330,...,2363,2366.0,2369,NaN,NaN,NaN,2381,NaN,NaN,2388
35,6.408234e+08,1134,1482,1562,1595,1604,1645,1648,1706,1752,...,1602,1622.0,1637,NaN,NaN,NaN,1657,NaN,NaN,1649
36,8.018620e+08,1576,1680,1729,1730,1730,1743,1743,1744,1746,...,1882,1910.0,1949,NaN,NaN,NaN,2008,NaN,NaN,2051
37,1.060207e+09,19,23,45,50,53,59,62,66,71,...,102,102.0,102,103.0,103.0,105.0,106,106.0,106.0,106
38,1.054680e+09,175,189,262,319,345,427,463,569,596,...,1114,1175.0,1267,NaN,NaN,NaN,1499,NaN,NaN,1657
39,9.411902e+08,216,261,359,398,417,473,503,557,586,...,852,931.0,1052,NaN,NaN,NaN,1163,NaN,NaN,1257
40,9.438446e+08,48,55,83,112,116,132,134,156,157,...,203,230.0,244,NaN,NaN,NaN,304,NaN,NaN,348
41,6.617954e+08,2689,2747,2811,2844,2862,2900,2910,2930,2935,...,2886,NaN,2890,NaN,NaN,NaN,2951,NaN,NaN,2956
42,8.753126e+08,416,473,520,555,564,598,611,640,650,...,749,757.0,786,NaN,NaN,NaN,836,NaN,NaN,868
43,9.713877e+08,624,652,716,756,771,803,820,878,897,...,1046,NaN,1129,NaN,NaN,NaN,1259,NaN,NaN,1337
44,1.021186e+09,124,144,185,197,200,215,226,240,246,...,301,307.0,315,NaN,NaN,NaN,338,NaN,NaN,349
45,1.163826e+09,3,5,32,48,56,79,82,112,117,...,160,172.0,198,NaN,NaN,NaN,251,NaN,NaN,283
46,7.356356e+08,5376,5404,5481,5484,5505,5514,5495,5475,5465,...,5162,NaN,5172,NaN,NaN,NaN,5225,NaN,NaN,5272
47,1.175184e+09,4,5,18,23,23,24,24,24,25,...,30,30.0,33,34.0,36.0,38.0,39,40.0,40.0,41
48,6.794159e+08,995,1091,1141,1165,1173,1190,1189,1210,1221,...,1324,NaN,1322,NaN,NaN,NaN,1313,NaN,NaN,1311
49,8.841480e+08,3,3,4,4,4,4,4,4,4,...,5,5.0,5,5.0,5.0,5.0,4,4.0,4.0,4

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [53]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
inp0.loc[inp0['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN

inp0.loc[inp0['14-09-2013']== 'removed',"14-09-2013"] = np.NaN

inp0.loc[inp0['16-09-2013']== 'removed',"16-09-2013"] = np.NaN

inp0.loc[inp0['18-09-2013']== 'removed',"18-09-2013"] = np.NaN

inp0.loc[inp0['20-09-2013']== 'removed',"20-09-2013"] = np.NaN

inp0.loc[inp0['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN

In [54]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
inp0.head(50)

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
5,1.068332e+09,4,5,11,13,13,13,16,18,19,...,25,25.0,26,26.0,26.0,26.0,27,27.0,27.0,27
6,1.220707e+09,45,61,131,165,176,209,216,251,262,...,379,400.0,417,424.0,445.0,462.0,474,494.0,503.0,552
7,1.219677e+09,4,13,55,73,76,89,94,117,121,...,160,165.0,169,172.0,196.0,212.0,224,241.0,252.0,263
8,1.113094e+09,5,6,10,12,13,15,16,17,17,...,27,28.0,29,29.0,29.0,29.0,29,29.0,29.0,33
9,9.852927e+08,9,11,12,12,12,12,12,13,13,...,14,14.0,14,14.0,14.0,14.0,14,14.0,14.0,14
10,1.117294e+09,15,28,42,49,49,55,56,65,66,...,93,98.0,106,114.0,119.0,124.0,128,130.0,133.0,138
11,8.984815e+08,23,38,54,59,65,72,77,90,102,...,153,162.0,170,172.0,176.0,181.0,185,188.0,195.0,202
12,9.577239e+08,1235,1333,1471,1568,1602,1722,1756,1906,1994,...,2395,2423.0,2537,2580.0,2645.0,2704.0,2748,2813.0,2914.0,2979
13,7.490319e+08,2498,2545,2627,2656,2669,2738,2769,2934,3001,...,3445,3561.0,3667,3680.0,3745.0,3842.0,3952,3999.0,4077.0,4170
14,1.055412e+09,22,28,40,43,44,45,45,49,50,...,52,52.0,52,52.0,52.0,52.0,52,52.0,53.0,53
15,1.162628e+09,4,8,19,25,26,31,35,45,48,...,120,132.0,158,163.0,174.0,182.0,195,204.0,213.0,220
16,6.243148e+08,1587,1669,1729,1764,1782,1817,1833,1898,1909,...,2163,2241.0,2301,2325.0,2375.0,2421.0,2479,2492.0,2512.0,2526
17,8.304677e+08,10,13,17,17,17,17,17,17,17,...,18,19.0,19,19.0,19.0,19.0,19,19.0,19.0,19
18,8.408571e+08,2,4,10,11,11,12,12,12,13,...,13,13.0,16,16.0,17.0,17.0,17,17.0,17.0,17
19,1.113221e+09,122,143,243,279,299,322,331,381,401,...,496,517.0,539,542.0,562.0,575.0,596,602.0,621.0,644
20,8.617544e+08,104,106,142,163,171,192,196,227,247,...,316,244.0,365,368.0,369.0,370.0,372,374.0,375.0,376
21,8.561781e+08,856,967,1057,1109,1124,1173,1198,1248,1284,...,1431,1482.0,1533,1564.0,1572.0,1621.0,1682,1699.0,1726.0,1761
22,1.122990e+09,145,189,219,229,229,233,233,233,233,...,233,233.0,233,233.0,233.0,234.0,235,235.0,236.0,236
23,8.405165e+08,1292,1319,1405,1479,1512,1578,1592,1671,1689,...,1962,1946.0,2077,2095.0,2115.0,2179.0,2243,2286.0,2314.0,2352
24,7.685171e+08,2,3,4,4,4,5,5,5,5,...,5,5.0,5,5.0,5.0,5.0,5,5.0,5.0,5
25,1.139843e+09,6,7,15,19,19,19,20,22,22,...,25,26.0,26,27.0,27.0,28.0,28,29.0,29.0,29
26,1.004213e+09,986,1048,1224,1358,1401,1571,1612,1762,1852,...,2358,2452.0,2580,2621.0,2678.0,2792.0,2882,2923.0,2995.0,3071
27,1.235427e+09,6,8,25,42,49,67,76,105,114,...,253,275.0,311,328.0,345.0,367.0,388,392.0,416.0,446
28,9.428084e+08,375,421,463,475,476,483,488,497,500,...,523,525.0,526,528.0,530.0,532.0,533,534.0,536.0,537
29,6.291315e+08,7455,7467,7479,7374,7351,7255,7240,7156,7124,...,6644,6528.0,6476,6327.0,6285.0,6142.0,6049,5912.0,5862.0,5753
30,8.519455e+08,1168,1271,1301,1330,1344,1383,1395,1456,1468,...,1590,1553.0,1637,NaN,NaN,NaN,1705,NaN,NaN,1798
31,1.150275e+09,84,130,176,205,218,272,273,279,280,...,417,456.0,494,NaN,NaN,NaN,561,NaN,NaN,606
32,1.026634e+09,804,837,897,931,937,969,974,1004,1008,...,1060,1086.0,1103,NaN,NaN,NaN,1177,NaN,NaN,1258
33,9.787739e+08,911,946,1035,1085,1105,1159,1185,1244,1288,...,1455,1488.0,1525,NaN,NaN,NaN,1642,NaN,NaN,1709
34,8.277913e+08,2184,2228,2309,2313,2313,2315,2315,2321,2330,...,2363,2366.0,2369,NaN,NaN,NaN,2381,NaN,NaN,2388
35,6.408234e+08,1134,1482,1562,1595,1604,1645,1648,1706,1752,...,1602,1622.0,1637,NaN,NaN,NaN,1657,NaN,NaN,1649
36,8.018620e+08,1576,1680,1729,1730,1730,1743,1743,1744,1746,...,1882,1910.0,1949,NaN,NaN,NaN,2008,NaN,NaN,2051
37,1.060207e+09,19,23,45,50,53,59,62,66,71,...,102,102.0,102,103.0,103.0,105.0,106,106.0,106.0,106
38,1.054680e+09,175,189,262,319,345,427,463,569,596,...,1114,1175.0,1267,NaN,NaN,NaN,1499,NaN,NaN,1657
39,9.411902e+08,216,261,359,398,417,473,503,557,586,...,852,931.0,1052,NaN,NaN,NaN,1163,NaN,NaN,1257
40,9.438446e+08,48,55,83,112,116,132,134,156,157,...,203,230.0,244,NaN,NaN,NaN,304,NaN,NaN,348
41,6.617954e+08,2689,2747,2811,2844,2862,2900,2910,2930,2935,...,2886,NaN,2890,NaN,NaN,NaN,2951,NaN,NaN,2956
42,8.753126e+08,416,473,520,555,564,598,611,640,650,...,749,757.0,786,NaN,NaN,NaN,836,NaN,NaN,868
43,9.713877e+08,624,652,716,756,771,803,820,878,897,...,1046,NaN,1129,NaN,NaN,NaN,1259,NaN,NaN,1337
44,1.021186e+09,124,144,185,197,200,215,226,240,246,...,301,307.0,315,NaN,NaN,NaN,338,NaN,NaN,349
45,1.163826e+09,3,5,32,48,56,79,82,112,117,...,160,172.0,198,NaN,NaN,NaN,251,NaN,NaN,283
46,7.356356e+08,5376,5404,5481,5484,5505,5514,5495,5475,5465,...,5162,NaN,5172,NaN,NaN,NaN,5225,NaN,NaN,5272
47,1.175184e+09,4,5,18,23,23,24,24,24,25,...,30,30.0,33,34.0,36.0,38.0,39,40.0,40.0,41
48,6.794159e+08,995,1091,1141,1165,1173,1190,1189,1210,1221,...,1324,NaN,1322,NaN,NaN,NaN,1313,NaN,NaN,1311
49,8.841480e+08,3,3,4,4,4,4,4,4,4,...,5,5.0,5,5.0,5.0,5.0,4,4.0,4.0,4

In [55]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.
inp1= inp1.drop(["26-09-2013"] , axis= 1)

inp1= inp1.drop(["30-09-2013"] , axis= 1)

inp1= inp1.drop(["10-02-2013"] , axis= 1)

inp1= inp1.drop(["10-04-2013"] , axis= 1)

inp1= inp1.drop(["10-08-2013"] , axis= 1)

inp1= inp1.drop(["10-10-2013"] , axis= 1)

KeyError: "['26-09-2013'] not found in axis"

In [ ]:
# Convert the object type columns in "Dress Sales" into float type of data type.

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [ ]:
# Print the null percetange of each column of inp1.
inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)

inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)

inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)

inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

In [ ]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [ ]:
# Create the four seasons columns in inp1, according to the above criteria.

In [ ]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [ ]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp.head()

In [ ]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)
inp0.isnull().sum()

Print the null count of inp0 to get the idea about the missing values in data set.

In [ ]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [ ]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0 = inp0[~inp0.Price.isnull()]

inp0 = inp0[~inp0.Season.isnull()]

inp0 = inp0[~inp0.NeckLine.isnull()]

inp0 = inp0[~inp0.SleeveLength.isnull()]

inp0 = inp0[~inp0.Winter.isnull()]

inp0 = inp0[~inp0.Autumn.isnull()]

In [ ]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp0.Material= inp0.Material.replace(np.nan, "Missing")

inp0.FabricType= inp0.FabricType.replace(np.nan, "Missing")

inp0.Decoration= inp0.Decoration.replace(np.nan, "Missing")

inp0['Pattern Type']= inp0['Pattern Type'].replace(np.nan, "Missing")

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [ ]:
#correcting the spellings.
inp0.Season= inp0.Season.replace('Automn', "Autumn")

inp0.Season= inp0.Season.replace('spring', "Spring")

inp0.Season= inp0.Season.replace('winter', "Winter")

In [ ]:
#correcting the Spellings.
inp0.SleeveLength= inp0.SleeveLength.replace(['cap-sleeves', 'capsleeves'], "cap sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace('full', "full sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['half','halfsleeve'], "half sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['sleevless', 'sleeevless', 'sleeveless', 'sleveless'], "sleeve less")

inp0.SleeveLength= inp0.SleeveLength.replace(['threequarter','threequater', 'thressqatar'], "three quater")

inp0.SleeveLength= inp0.SleeveLength.replace(['turndowncollor','urndowncollor'], "turn down collar")

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [2]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [ ]:
# Calculate the percentage of each categories in the "Style" variable.

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 99th percentile of Winter season.

In [ ]:
# Find the maximum and 99th percentile of Summer season.

In [ ]:
# Find the maximum and 99th percentile of Spring season.

In [ ]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [ ]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.