In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
animals=pd.read_csv("dataset/horse survival/horse.csv")

In [19]:
target=animals["outcome"]

In [20]:
target.unique()

array(['died', 'euthanized', 'lived'], dtype=object)

In [21]:
animals=animals.drop(["outcome"],axis=1)

In [22]:
animals

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,distend_large,45.0,8.4,NaN,NaN,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,other,50.0,85.0,cloudy,2.0,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,normal,33.0,6.7,NaN,NaN,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,NaN,48.0,7.2,serosanguious,5.3,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,NaN,74.0,7.4,NaN,NaN,no,4300,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,NaN,120.0,70.0,cold,NaN,pale_cyanotic,more_3_sec,...,distend_large,55.0,65.0,NaN,NaN,no,3205,0,0,no
295,no,adult,527702,37.2,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,...,distend_small,44.0,NaN,serosanguious,3.3,yes,2208,0,0,yes
296,yes,adult,529386,37.5,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,...,distend_large,60.0,6.8,NaN,NaN,yes,3205,0,0,no
297,yes,adult,530612,36.5,100.0,24.0,cool,reduced,pale_pink,less_3_sec,...,distend_small,50.0,6.0,serosanguious,3.4,yes,2208,0,0,yes
298,yes,adult,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,normal,36.0,62.0,clear,1.0,no,6112,0,0,no

In [23]:
pd.get_dummies(animals["surgery"])

     no  yes
0     1    0
1     0    1
2     1    0
3     0    1
4     1    0
..   ..  ...
294   0    1
295   1    0
296   0    1
297   0    1
298   0    1

[299 rows x 2 columns]

In [24]:
# decision tree not work well with categorical variable

categorical_feature=[feature for feature in animals.columns if animals[feature].dtype=="O"]

In [25]:
categorical_feature

['surgery',
 'age',
 'temp_of_extremities',
 'peripheral_pulse',
 'mucous_membrane',
 'capillary_refill_time',
 'pain',
 'peristalsis',
 'abdominal_distention',
 'nasogastric_tube',
 'nasogastric_reflux',
 'rectal_exam_feces',
 'abdomen',
 'abdomo_appearance',
 'surgical_lesion',
 'cp_data']

In [26]:
for category in categorical_feature:
    animals[category]=pd.get_dummies(animals[category])

In [27]:
animals

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,1,1,530101,38.5,66.0,28.0,0,0,0,0,...,1,45.0,8.4,0,NaN,1,11300,0,0,1
1,0,1,534817,39.2,88.0,20.0,0,0,0,0,...,0,50.0,85.0,0,2.0,1,2208,0,0,1
2,1,1,530334,38.3,40.0,24.0,0,0,0,0,...,0,33.0,6.7,0,NaN,1,0,0,0,0
3,0,0,5290409,39.1,164.0,84.0,1,0,0,0,...,0,48.0,7.2,0,5.3,0,2208,0,0,0
4,1,1,530255,37.3,104.0,35.0,0,0,0,0,...,0,74.0,7.4,0,NaN,1,4300,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0,1,533886,NaN,120.0,70.0,1,0,0,0,...,1,55.0,65.0,0,NaN,1,3205,0,0,1
295,1,1,527702,37.2,72.0,24.0,0,0,0,0,...,0,44.0,NaN,0,3.3,0,2208,0,0,0
296,0,1,529386,37.5,72.0,30.0,1,0,0,0,...,1,60.0,6.8,0,NaN,0,3205,0,0,1
297,0,1,530612,36.5,100.0,24.0,0,0,0,0,...,0,50.0,6.0,0,3.4,0,2208,0,0,0
298,0,1,534618,37.2,40.0,20.0,0,0,0,0,...,0,36.0,62.0,1,1.0,1,6112,0,0,1

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
X,y = animals.values,target.values
lb=LabelEncoder()
y=lb.fit_transform(y)
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [31]:
from sklearn.tree import DecisionTreeClassifier
print(x_train.shape)

(239, 27)

In [37]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy="most_frequent")

In [39]:
x_train=imp.fit_transform(x_train)
x_test=imp.fit_transform(x_test)

In [40]:
classifier =DecisionTreeClassifier()
classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [41]:
y_predict=classifier.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_predict,y_test)

In [42]:
accuracy

0.5833333333333334

In [43]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()

In [44]:
classifier.fit(x_train,y_train)
y_predicted=classifier.predict(x_test)
accuracy=accuracy_score(y_predicted,y_test)
accuracy

0.6833333333333333